.div-tilt{
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.Tilt {
  background: linear-gradient(89deg, #c297b9a6 0%, #9ac2c791 100%);
}

h3{
  color: whitesmoke;
  text-shadow: 1px 1px 3px rgba(0,0,0,.6);
}